.homePage .task {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: white;
    width: 50%;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.taskHeader {
    background-color: rgba(83, 117, 151, 0.87);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taskContainer {
    margin-top: -10px;
}

.taskDescription {
    background-color: rgb(36, 82, 126);
    color: white;
    padding-left: 20px;
}

.homePage h4 {
    text-align: right;
    background-color: rgb(36, 82, 126);
    color: white;
    font-size: large;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-style: italic;
}

.homePage .taskBody {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}